<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Site navigation menu -->
    <ul class="navbar">
      <li><a href="#">Principal</a>
      <li><a href="#">Contacto</a>
    </ul>

    <!-- Main content -->
    <h1>Mi primera página</h1>

    <p>Bienvenidos!

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem dui, porta posuere imperdiet molestie, feugiat quis metus. Nam scelerisque ligula id massa placerat aliquet. Duis fermentum iaculis metus, vitae sollicitudin ex volutpat volutpat. Sed nec dictum tellus. Duis sed urna risus. Proin egestas ac sapien et luctus. Aliquam vel nibh facilisis, tincidunt lectus sit amet, imperdiet massa. Maecenas pellentesque vehicula arcu, ut vestibulum sem mollis eget. Nam et hendrerit enim. Duis blandit lacinia odio, ac vehicula magna tristique in. Aliquam finibus commodo ipsum, at aliquam orci dignissim eget. Sed odio elit, facilisis nec nibh at, sollicitudin consectetur eros. Pellentesque sollicitudin lobortis malesuada. In felis elit, interdum eu luctus vitae, luctus eu nunc.
    </p>
    <p>
        Nunc eget lobortis sem. Suspendisse a quam mi. Morbi consequat sem id dui tempus, id tristique nunc suscipit. Sed imperdiet magna feugiat aliquam dictum. In id pellentesque nisi, eu lobortis turpis. Phasellus in massa nisl. Nulla egestas interdum purus lacinia facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed interdum, nulla nec vestibulum pretium, odio neque scelerisque metus, ut aliquet leo lectus in purus. Cras at porttitor ex.
    </p>

    <address>Hecho el 02 de Noviembre del 2017</address>
</body>
</html>